#recipe{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 1em;
    font-style: normal;
    color: #E55604;
}
#desc{
    font-family: 'Fuggles', cursive;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 900;
    color: #AE445A;
}
